@font-face {
  font-family: 'KARK';
  src: url('karkathonian.ttf') format('truetype');
}  

.OUT {
  font-family: 'KARK', sans-serif !important; /* Removed extra semicolon and added generic fallback */
}

body {
  margin: 0; /* */
  background-image: url('goog.png');
  background-repeat: repeat;
  background-size: 100% auto; 
  background-color: #008cff;
}

.google-search-field {
    border: 3px solid #ffffff;
    /* background-image: url('goog.png'); */
    background-color: #008cff00;
    border-radius: 1.75rem;
    width: 50%;
    height: 3.5rem;
    padding: 20px 50px;
    position:absolute;
    top:30%;
    left:25%;
    margin-bottom: 30px;
}